.dashboard h4 span {
  font-size: 14px;
  font-weight: normal;
}
.dashboard h2 {
  float: right;
}
.dashboard h2 span {
  font-size: 14px;
  font-weight: normal;
}

.darkColorFont{
  color: 'red';
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }


chart_div {
  font: 13px Arial;
}
#geo_map_wise_trend .states {
  fill: #ccc;
  stroke: #fff;
}
#geo_map_wise_trend .symbol {
  fill: red;
  fill-opacity: .8;
  stroke: #fff;
}

#geo_map_wise_trend path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}


#geo_map_wise_trend_with_military .counties {
  fill: none;
  stroke-opacity: 0;
}

#geo_map_wise_trend_with_military .states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}


#geo_map_wise_trend_with_military .symbol {
  fill: red;
  fill-opacity: .8;
  stroke: #fff;
}



#geo_map_wise_trend_with_population .counties {
  fill: none;
  stroke-opacity: 0;
}

#geo_map_wise_trend_with_population .states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}


#geo_map_wise_trend_with_population .symbol {
  fill: red;
  fill-opacity: .8;
  stroke: #fff;
}


/*#geo_map_wise_trend_with_military .states {
  fill: #ccc;
  stroke: #fff;
}
#geo_map_wise_trend_with_military .symbol {
  fill: steelblue;
  fill-opacity: .8;
  stroke: #fff;
}

#geo_map_wise_trend_with_military path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}*/


#Exploration .area {
  fill: lightsteelblue;
  stroke-width: 0;
}
#Exploration .bar {
  fill: steelblue;
}
#Exploration .bar:hover {
  fill: brown;
}


#Exploration path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

/*#us-chart path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}*/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.axis path, .axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.dashboard .axis path{
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}



div.tooltip {
  position: absolute;
  text-align: center;
  width: 130px;
  height: 50px;
  padding: 2px;
  font: 12px sans-serif;
  background: Gold;
  border: 0px;
  border-radius: 8px;
  /*  pointer-events: none;	This line needs to be removed */
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
