
chart_div { font: 13px Arial;}

.area {
fill: lightsteelblue;
stroke-width: 0;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: Gold;
  border: 0px;
  border-radius: 8px;
 /*  pointer-events: none;	This line needs to be removed */

}
